body {
  margin: 0;
}

button {
  margin: 15px;
  float: right;
}

h1 {
  white-space: nowrap; /* To stay in 1 line */
  clear: both; /* To avoid messing up boundries with button */
}

ul {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

#btnSignIn {
  width: 50vw;
  height: 50vh;
  margin: auto;
}

.container {
  display: flex;
  height: 100vh;
}

@media (max-width: 100px) {
}
